<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <!-- <link rel="stylesheet" href="/static/css/app.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    </head>
    <body>
        <header>
            <h2>My Simple Website</h2>
            <nav>
                <ul>
                    <li>HOME</li>
                    <li>About Me</li>
                </ul>
            </nav>
        </header>
        <main class="container">
            <h1>S-Jones</h1>
            <p>
                I'm a future Software Engineer. I want to improve my Web Development skills, hence why I'm doing Web Dev II. I hope that at the end of this course I can be hired as an intern at a tech company. &#128516
            </p>
        </main>
        <footer>
            <p>Copyright &copy; 2021 | S~Jones</p>
        </footer>
    </body>
</html>